<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0 //EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwk.dao.TeacherDao">
    <insert id="add" parameterType="com.lwk.model.Teacher" >
        INSERT INTO Student (tid,name,sex,cla)
        VALUES (#tid,#name,#sex,#cla)
    </insert>
</mapper>